<template>
  <div class="modal" :class="{'modal--open': $props.isOpen}">
    <div class="modal-window">
      <div class="modal__header">
        <h3 class="modal__title">
          <slot name="header"></slot>
        </h3>
      </div>
      <div class="modal__body">
        <slot name="body"></slot>
      </div>
      <div class="modal__actions">
        <slot name="actions"></slot>
      </div>
    </div>
    <div class="modal__backdrop" @click="$emit('close')" />
  </div>
</template>
<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    isOpen(v) {
      const body = document.querySelector("body");
      
      if (v) return body.classList.add("overflow-hidden");
      body.classList.remove("overflow-hidden");
    }
  }
};
</script>
<style lang="scss">
$bg: #f5f5f5;
.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  &--open {
    opacity: 1;
    pointer-events: auto;
  }
}
.modal-window {
  max-height: 100vh;
  overflow-x: auto;
  background-color: $bg;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 40px;
  max-width: 914px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.modal__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.4);
  z-index: 5;
}
.modal__title {
  font-size: 32px;
  font-weight: normal;
  margin-top: 0;
}
.modal__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
</style>
