<template>
  <div class="notification">
    <div class="wrapper notification__wrapper">
      <div class="notification__content">
        <slot />
      </div>
      <div class="notification__actions">
        <button class="btn btn--icon" @click="$emit('close')">
          <BaseIcon name="close" class="icon__close" width="12" height="12" />
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import BaseIcon from "./BaseIcon";
export default {
  components: { BaseIcon }
};
</script>
<style lang="scss">
$bg: #60985c;
$textColor: #fff;

.notification {
  background-color: $bg;
}
.notification__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;
}
.notification__content {
  p {
    font-size: 14px;
    margin: 7px 0 7px 0;
  }
}
</style>
