<template>
  <svg class="icon" :width="width" :height="height">
    <use :xlink:href="`/sprite.svg#${$props.name}`" />
  </svg>
</template>
<script>
require.context("../assets/icons", true, /\.svg$/);

export default {
  props: {
    name: {
      type: String,
      required: true
    },
    width: {
      type: [Number, String],
      default: 39
    },
    height: {
      type: [Number, String],
      default: 39
    }
  }
};
</script>

