<template>
  <main class="content container">
    <h1 class="hidden">Опти 24</h1>
    <PollNotification @close="closePollNotice" @openPoll="openPoll" v-show="noticeIsOpen" />
    <Poll :is-open="pollIsOpen" @close="closePoll" />
  </main>
</template>
<script>
import PollNotification from "./PollNotification";
import Poll from "./Poll";
export default {
  components: {
    PollNotification,
    Poll
  },
  data() {
    return {
      pollIsOpen: false,
      noticeIsOpen: true
    };
  },
  mounted() {
    this.noticeIsOpen = !localStorage.getItem("pollNoticeWasShown");
  },
  methods: {
    closePollNotice() {
      this.noticeIsOpen = false;
      localStorage.setItem("pollNoticeWasShown", true);
    },
    openPoll() {
      this.noticeIsOpen = false;
      this.pollIsOpen = true;
    },
    closePoll() {
      this.pollIsOpen = false;
    }
  }
};
</script>
<style lang="scss">
.content {
  height: calc(100vh - 60px);
}
</style>


