<template>
  <div class="poll" :class="{'poll--open': isOpen}">
    <PollStep1
      :is-open="activeStep == 1 && isOpen"
      :rate="rate"
      @select="setRate"
      @close="close"
      @next="nextStep"
    />
    <PollStep2 :is-open="activeStep == 2 && isOpen" @close="close" @next="nextStep" />
    <PollStep3 :is-open="activeStep == 3 && isOpen" @close="close" @next="nextStep" />
    <PollStep4 :is-open="activeStep == 4 && isOpen" @close="close" />
  </div>
</template>
<script>
import PollStep1 from "./PollStep1";
import PollStep2 from "./PollStep2";
import PollStep3 from "./PollStep3";
import PollStep4 from "./PollStep4";
import { http } from "../services/fakeHttpService";

export default {
  components: { PollStep1, PollStep2, PollStep3, PollStep4 },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      activeStep: 1,
      rate: 0,
      message: "",
      reasons: []
    };
  },

  methods: {
    nextStep(resource) {
      if (this.activeStep === 1) {
        return (this.activeStep = this.rate === 10 ? 3 : 2);
      }
      if (this.activeStep === 2) {
        this.reasons = resource.reasons;
      }
      if (this.activeStep === 3) {
        this.message = resource.message;
        this.sendData();
        localStorage.setItem("pollNoticeWasShown", true);
      }

      this.activeStep++;
    },
    setRate(rate) {
      this.rate = rate;
    },
    sendData(isFinish = true) {
      let data = {
        rate: this.rate,
        reasons: this.reasons,
        message: this.message,
        finish: isFinish
      };
      http.post(data);
    },
    clear() {
      this.activeStep = 1;
      this.rate = 0;
      this.reasons = [];
      this.message = "";
    },
    close() {
      if (![1, 4].includes(this.activeStep)) this.sendData(false);
      this.clear();
      this.$emit("close");
    }
  }
};
</script>
<style lang="scss">
.poll {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.poll--open {
  opacity: 1;
  pointer-events: auto;
}
</style>
