<template>
  <BaseNotification @close="$emit('close')">
    <p>
      Мы хотим стать лучше! Пожалуйста, пройдите опрос и оцените качество сервиса.
      <button
        class="btn btn--link"
        @click="$emit('openPoll')"
      >Пройти опрос</button>
    </p>
  </BaseNotification>
</template>
<script>
import BaseNotification from "./BaseNotification";
export default {
  components: { BaseNotification }
};
</script>

