<template>
  <BaseModal :is-open="isOpen" class="poll__step2" @close="$emit('close')">
    <template slot="header">Почему Вы не поставили оценку 10?</template>
    <template slot="body">
      <p>Выберите не более 3-х ключевых причин.</p>
      <div class="poll__reasons">
        <div class="poll__reason" v-for="([key, label]) in reasons" :key="key">
          <div class="form-group">
            <input
              type="checkbox"
              :id="`poll__reason${key}`"
              :value="key"
              class="form-control"
              v-model="selectResasons"
              :class="{'checkbox--active': !!isSelected(key)}"
              @click="toggleItem(key, $event)"
            />
            <label :for="`poll__reason${key}`" v-text="label"></label>
          </div>
          <transition name="fade">
            <textarea
              v-model="messages[key]"
              v-if="!!isSelected(key)"
              placeholder="Опишите проблему подробнее..."
            ></textarea>
          </transition>
        </div>
      </div>
    </template>
    <template slot="actions">
      <button
        class="btn btn--primary"
        :class="{'btn--disabled': !this.isValid}"
        @click="send"
        :disabled="!this.isValid"
      >Отправить</button>
      <button class="btn btn--transparent" @click="$emit('close')">Закрыть</button>
    </template>
  </BaseModal>
</template>
<script>
import Scale from "./Scale";
import BaseModal from "./BaseModal";
import { getReasons } from "../services/fakeHttpService";

export default {
  components: { BaseModal, Scale },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      reasons: [],
      selectResasons: [],
      messages: {}
    };
  },
  created() {
    getReasons()
      .then(response => {
        const { success, data } = response;
        if (!success || !data || !data.reasons)
          throw new Error("Poll step 2: reasons not loading");
        this.reasons = Object.entries(data.reasons).reverse();
      })
      .catch(e => console.error(e));
  },
  computed: {
    isValid() {
      if (
        this.selectResasons.find(i => i == "10") &&
        !this.messages.hasOwnProperty(10)
      )
        return false;

      const length = this.selectResasons.length;
      return length > 0 && length < 4;
    }
  },
  methods: {
    toggleItem(item, event) {
      if (this.isSelected(item)) {
        return (this.selectResasons = this.selectResasons.filter(
          i => i !== item
        ));
      }

      if (this.selectResasons.length < 3) {
        return this.selectResasons.push(item);
      }

      event.preventDefault();
    },
    isSelected(item) {
      return this.selectResasons.includes(item);
    },
    send() {
      let reasons = [];
      reasons = this.selectResasons.map(item => {
        const answer = this.messages.hasOwnProperty(item)
          ? this.messages[item]
          : "";
        return {
          id: item,
          answer
        };
      });

      this.$emit("next", { reasons });
      this.clear();
    },
    clear() {
      this.selectResasons = [];
      this.messages = {};
    }
  }
};
</script>
<style lang="scss">
.poll__reasons {
  margin-bottom: 45px;
}
.poll__step2 {
  textarea {
    height: 70px;
  }
}
</style>
