<template>
  <BaseModal :is-open="isOpen" class="poll__step1" @close="$emit('close')">
    <template slot="header">Нам важно Ваше мнение!</template>
    <template slot="body">
      <p>
        <strong>Оцените пожалуйста Вашу готовность рекомендовать «Газпромнефть-Корпоративные продажи» своим коллегам / партнерам?</strong>
      </p>
      <p>Для оценки используйте 10-балльную шкалу, где 10 – точно готовы рекомендовать, 1 – точно не готовы рекомендовать.</p>
      <Scale class="poll__scale" @select="$emit('select', $event)" :rate="rate" />
    </template>
    <template slot="actions">
      <button
        class="btn btn--primary"
        :class="{'btn--disabled': !this.isValid}"
        @click="$emit('next')"
        :disabled="!this.isValid"
      >Отправить</button>
      <button class="btn btn--transparent" @click="close">Больше не спрашивать</button>
    </template>
  </BaseModal>
</template>
<script>
import Scale from "./Scale";
import BaseModal from "./BaseModal";

export default {
  components: { BaseModal, Scale },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    rate: {
      type: Number,
      default: 0
    }
  },
  computed: {
    isValid() {
      return Number.isInteger(this.rate) && this.rate > 0 && this.rate < 11;
    }
  },
  methods: {
    close() {
      localStorage.setItem("pollNoticeWasShown", true);
      this.$emit("close");
    }
  }
};
</script>
<style lang="scss">
.poll__step1 {
  .btn--transparent {
    font-size: 16px;
  }
}
</style>

