<template>
  <BaseModal :is-open="isOpen" class="poll__step3" @close="$emit('close')">
    <template slot="header">Багодарим за оценку!</template>
    <template slot="body">
      <p>
        Мы будем признательны, если Вы оставите отзыв или предложение по
        улучшению работы «Газпромнефть-Корпоративные продажи».
      </p>
      <textarea v-model="message" class="poll__textarea" placeholder="Ваш ответ..."></textarea>
    </template>
    <template slot="actions">
      <button class="btn btn--primary" @click="next">Отправить</button>
      <button class="btn btn--transparent" @click="$emit('close')">Закрыть</button>
    </template>
  </BaseModal>
</template>
<script>
import Scale from "./Scale";
import BaseModal from "./BaseModal";

export default {
  components: { BaseModal, Scale },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      message: ""
    };
  },
  methods: {
    next() {
      this.$emit("next", { message: this.message });
      this.message = "";
    }
  }
};
</script>
<style lang="scss">
.poll__step3 {
  textarea {
    margin-bottom: 55px;
  }
}
</style>

