<template>
  <BaseModal :is-open="isOpen" class="poll__step4" @close="$emit('close')">
    <template slot="header">Спасибо!</template>
    <template slot="actions">
      <button class="btn btn--transparent" @click="$emit('close')">Закрыть</button>
    </template>
  </BaseModal>
</template>
<script>
import Scale from "./Scale";
import BaseModal from "./BaseModal";

export default {
  components: { BaseModal, Scale },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss">
.poll__step4 {
  text-align: center;
  .modal__actions {
    justify-content: center;
  }
  .modal-window {
    max-width: 600px;
  }
}
</style>
