<template>
  <div class="scale">
    <div
      class="scale__item"
      :class="[`scale__item${n}`, {'scale__item--active': hoverItem >= n || rate >=n }]"
      v-for="n in 10"
      :key="`scale${n}`"
      @mouseover="hoveron(n)"
      @mouseleave="hoverItem = 0"
      @click="selectItem(n)"
    >
      <span class="scale__num">{{n}}</span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    rate: {
      type: [String, Number],
      default: 0
    }
  },
  data() {
    return {
      hoverItem: 0
    };
  },
  methods: {
    hoveron(item) {
      this.hoverItem = item;
    },
    selectItem(item) {
      this.$emit("select", item);
    }
  }
};
</script>

<style lang="scss">
$bg: #dddddd;
$bgActive: #335bb7;
.scale {
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-left: 74px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background: url("../assets/img/dislike.png") center center no-repeat;
    width: 40px;
    height: 39px;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
    background: url("../assets/img/like.png") center center no-repeat;
    width: 40px;
    height: 39px;
  }
}

.scale__item {
  display: inline-block;
  position: relative;
  padding-left: 73px;
  padding-bottom: 30px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 3px solid $bg;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: border-color 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 55px;
    top: 50%;
    left: -55px;
    transform: translateY(-50%);
    background-color: $bg;
    transition: background-color 0.3s;
  }
  &--active {
    &::after,
    &::before {
      background-color: $bgActive;
      border-color: $bgActive;
    }
  }
  &:nth-child(1) {
    margin-left: 0px;
    &::before {
      content: none;
    }
  }
}
.scale__num {
  position: absolute;
  top: -26px;
  left: 3px;
  font-size: 20px;
}
.scale__item10 {
  .scale__num {
    left: -2px;
  }
}
</style>
