<template>
  <footer class="footer">
    <div class="wrapper footer__wrapper">
      <a href="/" class="footer__logo">
        <BaseIcon name="opti-24-logo-new" class="icon__logo" />
      </a>
      <a href="#" class="footer__logo">
        <BaseIcon name="gpn-logo" class="icon__gpn" />
      </a>
    </div>
  </footer>
</template>
<script>
import BaseIcon from "./BaseIcon";

export default {
  components: { BaseIcon }
};
</script>
<style lang="scss">
$bg: #404040;
.footer {
  background-color: $bg;
}
.icon__logo {
  width: 93px;
  height: 39px;
  margin-top: 6px;
  margin-left: 2px;
}

.icon__gpn {
  width: 79px;
  height: 39px;
  margin-top: 2px;
  margin-right: -2px;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.footer__logo .icon__gpn {
  opacity: 0.4;
}
</style>

