<template>
  <header class="header">
    <div class="wrapper header__wrapper">
      <a href="/" class="header__logo">
        <BaseIcon name="logo" class="icon-logo" />
      </a>
      <a href="#" class="header__logo">
        <BaseIcon name="gpn-logo" class="icon-gpn" />
      </a>
    </div>
  </header>
</template>
<script>
import BaseIcon from "./BaseIcon";

export default {
  components: { BaseIcon }
};
</script>
<style lang="scss">
$bg: #404040;
.header {
  background-color: $bg;
}
.icon-logo {
  width: 93px;
  height: 39px;
}

.icon-gpn {
  width: 79px;
  height: 39px;
  margin-top: -5px;
  margin-right: -3px;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
</style>

