<template>
  <div id="app">
    <TheHeader />
    <BasePage></BasePage>
    <TheFooter />
  </div>
</template>

<script>
import BasePage from "./components/BasePage";
import TheHeader from "./components/TheHeader";
import TheFooter from "./components/TheFooter";

export default {
  name: "app",
  components: {
    TheHeader,
    BasePage,
    TheFooter
  }
};
</script>


