@font-face {
  font-family: "PTSans";
  src: url("../assets/fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "PTSans-Italic";
  src: url("../assets/fonts/PT_Sans/PT_Sans-Web-Italic.ttf") format("opentype");
}

@font-face {
  font-family: "PTSans-Narrow";
  src: url("../assets/fonts/PT_Sans/PT_Sans-Narrow.ttf") format("opentype");
}
