@import "normalize";
@import "variables";
@import "fonts";
@import "mixin";

html {
  font-size: 16px;
  color: $text-color;
}

body {
  font-family: "PTSans", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrapper {
  @include min-max(320px, 1280px, 15px);
}

.hidden {
  display: none;
}

strong {
  font-family: "PTSans-Bold";
}
p {
  line-height: 1.25;
}

.btn {
  outline: none;
  cursor: pointer;
  color: inherit;
  border: none;
  transition: opacity 0.3s;
  &--icon,
  &--link,
  &--transparent {
    background-color: transparent;
    padding: 0;
    &:hover {
      opacity: 0.7;
    }
  }
  &--link {
    text-decoration: underline;
  }
  &--transparent {
    color: $primary;
    font-size: 20px;
    font-family: "PTSans-Narrow";
  }
  &--primary {
    border-radius: 3px;
    background-color: $primary;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    padding: 11px 17px 10px 18px;
    font-family: "PTSans-Narrow";
  }
  &--disabled {
    opacity: 0.8;
    cursor: auto;
  }
}

textarea {
  width: 100%;
  height: 139px;
  border-radius: 3px;
  border: solid 1px #dddddd;
  background-color: #f5f5f5;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 14px 18px;
  outline: none;
  box-sizing: border-box;
  &::placeholder {
    font-family: "PTSans-Italic";
    color: #b3b3b3;
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 12px;
  label {
    padding-left: 10px;
  }
}

.form-control[type="checkbox"] {
  //   opacity: 0;
  position: relative;
  width: 21px;
  height: 21px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid#dddddd;
    transition: background-image 0.3s;
  }
  &.checkbox--active {
    &::before {
      background: #f5f5f5 url("../assets/img/v.png") center center no-repeat;
      background-size: cover;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, max-height 0.5s, padding-top 0.5s,
    padding-bottom 0.5s, margin-bottom 0.5s;
  max-height: 300px;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  opacity: 0;
}

.overflow-hidden {
    overflow: hidden;
}
